openapi: 3.1.0

info:
  title: myFiesta API
  version: 0.1.0
  description: |
    The contract both client languages generate from.

    Flutter cannot consume a TypeScript package, so there is no shared library
    between mobile and web. This file is what stops the Dart and TypeScript
    clients drifting apart — it does the job an Nx workspace would otherwise do,
    and it is why hand-maintained URL strings are gone.

    Two conventions run through everything below.

    **Money is a pair.** An integer amount in minor units and a currency. Never
    a float, never a bare number, never a preformatted string. The platform this
    replaces returned "$1,234.00" from the API and re-parsed it in the client.

    **Errors are RFC 7807 problem documents** with real status codes. The old
    API answered HTTP 200 for everything and buried the outcome in the body,
    which made interceptors and retries impossible.

servers:
  - url: https://api.myfiesta.ca
    description: Production
  - url: http://localhost:8000
    description: Local

tags:
  - name: Discovery
    description: Public. No authentication — browsing and buying need no account.
  - name: Checkout
    description: Guest checkout is the primary path.
  - name: Tickets
    description: Retrieval and transfer, by the holder.
  - name: Door
    description: Check-in. Reachable only by an event-scoped door token.
  - name: Account
    description: |
      Getting an account, proving its address, agreeing to the terms and
      deleting it. Everything signed in here takes any token that speaks for a
      person, attendee or organizer; a door pass is refused.
  - name: Organizer
    description: The console. An organizer token, checked against membership of the organization.

security: []

paths:
  /api/health:
    get:
      operationId: health
      summary: Liveness probe
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: The service is up.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: ok

  /api/health/ready:
    get:
      operationId: healthReady
      summary: Whether an order can be taken and seen through
      description: |
        For an uptime monitor, never a load balancer: a stopped queue worker is
        a reason to page somebody, not to take the site away from the people
        buying on it. `/api/health` and `/up` only say the process answered.

        Asks each part in turn — the database answers, the cache keeps what it
        is given, both disks take a file, a worker has run a job lately and
        the scheduler has run lately — and answers 503 when any does not.
        What a failing check says is a fixed sentence, never an exception's
        message, a host name or a count: anybody may ask. Never cached.
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: Every part answered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '429':
          description: Asked more than 30 times in a minute from one address.
        '503':
          description: At least one part did not answer. Which, and a sentence about it, are in `checks`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  /api/contact:
    get:
      operationId: getContact
      summary: Who operates the platform, and how to reach them
      description: |
        For the site's contact and legal pages. Set once per deployment, so
        staging never shows production's details. Anything not set is null
        rather than a placeholder, and `complete` is false until a registered
        name, a support inbox and one postal address are all set — the pages
        show a notice while it is. Cached for five minutes.
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: The operator's details, as far as they are set.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Contact' }

  /api/discover:
    get:
      operationId: discover
      summary: Everything the front page needs, in one request
      description: |
        Bounded shelves of events — featured, upcoming, happening today, this
        weekend, almost sold out, sold out and recently past — with the
        categories and cities that have something on, real counts, and the
        service charge in each currency. "Today" and "this weekend" are read in
        each event's own zone. Every card carries its availability. Kept for
        up to a minute; the full list, paged and filtered, is /api/events.
      tags: [Discovery]
      security: []
      parameters:
        - name: city
          in: query
          description: Narrows the event shelves to one city, by name, matched as its slug is ("Montreal" finds "Montréal").
          schema: { type: string, maxLength: 80 }
      responses:
        '200':
          description: The front page.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Discovery' }

  /api/discover/facets:
    get:
      operationId: discoverFacets
      summary: The categories and cities that have something on
      description: For the listing's filters and the search's city picker. Kept for up to a minute.
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: Categories and cities, most events first.
          content:
            application/json:
              schema:
                type: object
                required: [categories, cities]
                properties:
                  categories:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryPlace' }
                  cities:
                    type: array
                    items: { $ref: '#/components/schemas/CityPlace' }

  /api/discover/categories/{slug}:
    get:
      operationId: discoverCategory
      summary: One category's own page
      description: |
        A category on the fixed list, or one events are still filed under,
        found by the slug /api/discover and the facets send. Known with nothing
        on is still 200, with `events` zero; unknown is 404.
      tags: [Discovery]
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The category.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/CategoryPlace' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/discover/cities/{slug}:
    get:
      operationId: discoverCity
      summary: One city's own page
      description: |
        A city with something on, or on in the last 90 days, found by its
        slug. Where two spellings share a slug ("Montréal", "Montreal") the
        one most of its events use is the name. Unknown is 404.
      tags: [Discovery]
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The city.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/CityPlace' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/events:
    get:
      operationId: listEvents
      summary: Browse published events
      tags: [Discovery]
      security: []
      parameters:
        - name: q
          in: query
          description: Full-text search. Backed by Postgres, not a separate search service.
          schema: { type: string }
        - name: city
          in: query
          description: By name, matched as its slug is, so every spelling of one city is found ("Montreal" finds "Montréal").
          schema: { type: string }
        - name: category
          in: query
          description: By name, exactly as /api/event-categories lists it.
          schema: { type: string }
        - name: when
          in: query
          description: |
            A window, in each event's own zone. `today` is still on and
            started today or earlier; `weekend` is Friday to Sunday, the one
            underway or the next; `month` is the calendar month; `past` has
            ended and defaults to the most recent first. Without one, what
            has not started yet.
          schema: { type: string, enum: [upcoming, today, weekend, month, past] }
        - name: date_from
          in: query
          description: A calendar day, compared with each event's own date. Inclusive.
          schema: { type: string, format: date }
        - name: date_to
          in: query
          description: A calendar day, compared with each event's own date. Inclusive.
          schema: { type: string, format: date }
        - name: availability
          in: query
          description: |
            Comma-separated states from Availability; `on_sale` means every
            state but sold out and closed. Decided in the query, so pages stay
            full.
          schema: { type: string, example: 'almost_sold_out,sold_out' }
        - name: free
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string, enum: [soonest, newest, recent, relevance] }
        - name: country
          in: query
          schema: { type: string, minLength: 2, maxLength: 2 }
        - name: starts_after
          in: query
          schema: { type: string, format: date-time }
        - name: cursor
          in: query
          description: Opaque cursor from a previous page.
          schema: { type: string }
        - name: per_page
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: A page of published events.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EventSummary' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }

  /api/events/{slug}:
    get:
      operationId: getEvent
      summary: An event by its slug
      description: |
        Slugs are routed at the root on the public site and are the shareable
        link. Values from the previous platform are imported verbatim, because
        those URLs are in shared messages, bios, and printed QR codes.
      tags: [Discovery]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: ref
          in: query
          description: |
            Promoter attribution, captured on landing and carried to the order.
            Always optional; a bare link works.
          schema: { type: string }
      responses:
        '200':
          description: The event, with its ticket types.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Event' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/events/{slug}/calendar.ics:
    get:
      operationId: getEventCalendar
      summary: The event as an iCalendar file
      description: |
        Published and cancelled ticketed events. Times are UTC; a cancelled
        event carries STATUS:CANCELLED so a re-download updates the entry.
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: One VEVENT.
          content:
            text/calendar:
              schema: { type: string }
        '404': { description: 'No such public event.' }

  /api/events/{slug}/quote:
    post:
      operationId: quoteOrder
      summary: Price a basket
      description: |
        The client sends quantities. It never sends prices — those are read from
        the database by ticket type id. This is the rule that closes the defect
        which let buyers of the previous platform choose what to pay.

        Returns the full breakdown so the buyer sees discount and tax before
        committing, in the fixed order: discount applies to the subtotal, tax
        calculates on the discounted amount, commission takes the net.
      tags: [Checkout]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequest' }
      responses:
        '200':
          description: A priced quote.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Quote' }
        '409':
          description: Not enough stock remains, or the code is exhausted.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/events/{slug}/access:
    post:
      operationId: unlockTickets
      summary: Show the ticket types a presale code opens on this event
      description: Throttled to ten attempts a minute, since an answer confirms a code exists.
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, maxLength: 64 }
      responses:
        '200':
          description: The code and the tiers it opens that can still be bought.
          content:
            application/json:
              schema:
                type: object
                required: [code, ticket_types]
                properties:
                  code: { type: string }
                  ticket_types: { type: array, items: { type: object } }
        '422': { description: 'Not a valid presale code for this event, or nothing left to open.' }
        '429': { description: 'Too many attempts.' }

  /api/events/{slug}/orders:
    post:
      operationId: createOrder
      summary: Place an order and begin payment
      description: |
        Holds stock in a transaction, then creates a payment session on the rail
        the event currency routes to — NGN to Paystack, everything else to
        Stripe.

        A zero-total order has no gateway at all. Full-value codes, comps,
        RSVPs, and free events go straight to fulfilment, and `payment` is null
        in the response.

        Fulfilment is driven by the signed webhook, never by the client
        returning. Closing the browser after paying still issues the tickets.
      tags: [Checkout]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          description: Replaying the same key returns the original order.
          schema: { type: string, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateOrderRequest' }
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCreated' }
        '409':
          description: Stock ran out while the order was being placed.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '502':
          description: |
            The payment page could not be opened. Nothing was charged, and the
            order keeps its hold; send its reference back as `retry_of` with
            the next attempt, which takes that hold over.
          content:
            application/json:
              schema:
                type: object
                required: [message, reference]
                properties:
                  message: { type: string }
                  reference: { type: string }

  /api/orders/{reference}:
    get:
      operationId: getOrder
      summary: An order by its reference
      description: |
        Readable by the buyer while signed in, or through a signed link sent to
        the address that placed it. Guest checkout means many buyers never
        register, but an address alone is not proof — asserting one is the flaw
        in the scheme this replaces.
      tags: [Checkout]
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/tickets/{token}:
    get:
      operationId: getTicketsByToken
      summary: A buyer's tickets, with the QR a door reads
      description: |
        Reached from the link in a confirmation email. Unauthenticated by
        necessity: guest checkout is the primary path, so most people holding a
        ticket have no account, and the random per-order token in the path is
        the whole credential.

        It does not expire. The previous platform's ticket links went stale
        before some of its events had happened, and a ticket you cannot open on
        the night is not a ticket.

        Refunded tickets are omitted rather than shown as void — a QR that will
        be turned away is worse than no QR, because its holder finds out at the
        front of the queue.

        The same path opens a ticket somebody was sent, by the token in the
        email that came with it (`sent` is true): that ticket and nothing
        else of the order's — no receipt, no add-ons, no buyer's name, no
        reference. That link closes when the ticket is sent on again, or
        leaves the address it was sent to.
      tags: [Tickets]
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order and its live tickets.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TicketAccess' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/tickets/{token}/calendar.ics:
    get:
      operationId: getTicketsCalendar
      summary: The night as an iCalendar file, from the ticket page
      description: |
        The same file as /api/events/{slug}/calendar.ics, fetched on the
        ticket link's own credential so that adding the night to a calendar is
        kept in the order's ticket history, as dispute evidence. The ticket
        page's `event.calendar.ics_url` points here. Not cached by anybody but
        the browser that asked.
      tags: [Tickets]
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: One VEVENT.
          content:
            text/calendar:
              schema: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/me/tickets:
    get:
      operationId: listMyTickets
      summary: Tickets held by the signed-in account
      tags: [Tickets]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Tickets belonging to the caller.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Ticket' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/me/saved:
    get:
      operationId: listSavedEvents
      summary: Nights the signed-in account saved
      description: |
        Soonest first, with what has already happened left out: saving is for
        later, and once later has happened a past night belongs on the tickets
        screen instead.
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Saved events, soonest first.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EventSummary' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/events/{slug}/save:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: saveEvent
      summary: Keep a night for later
      description: |
        Saving twice is saving once — a phone on a bad signal sends the same
        tap twice, and the second is not an error anybody should have to read.
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Saved.
          content:
            application/json:
              schema:
                type: object
                required: [saved]
                properties:
                  saved: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: unsaveEvent
      summary: Take a night off the list
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: No longer saved.
          content:
            application/json:
              schema:
                type: object
                required: [saved]
                properties:
                  saved: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/organizers/{slug}:
    get:
      operationId: getOrganizer
      summary: An organizer page — who they are, what is on, what has been
      description: |
        Public and shareable — the link a promoter puts in a bio, and where
        following an organizer leads.

        A slug with no published ticketed event answers 404, whether the
        account exists or not: registering is not publishing, and a page for
        every account that ever signed up would confirm which names are taken.
      tags: [Discovery]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The organizer, with their nights.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/OrganizerPage' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/me/following:
    get:
      operationId: listFollowedOrganizers
      summary: Organizers the signed-in account follows
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Organizers followed, by name.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrganizerBrand' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/organizers/{slug}/follow:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: followOrganizer
      summary: Hear about an organizer's next night
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Following.
          content:
            application/json:
              schema:
                type: object
                required: [following]
                properties:
                  following: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: unfollowOrganizer
      summary: Stop hearing from an organizer
      tags: [Discovery]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: No longer following.
          content:
            application/json:
              schema:
                type: object
                required: [following]
                properties:
                  following: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/tickets/{id}/transfer:
    post:
      operationId: transferTicket
      summary: Hand a ticket to someone else
      description: |
        Authenticated, and only by the holder. The endpoint this replaces took a
        ticket id and an email from anyone at all, with ids being sequential
        integers.

        The same handover as the ticket link's (transferTicketFromLink): the
        ticket gets a new code, so the one on this phone stops opening the
        door; the new holder is emailed it with a link of their own. Refused
        for a ticket somebody has come in on (a table with any of its people
        inside included), one given back for resale, one at the address
        already holding it, and once the event has started. The answer says
        what was done and carries no ticket: the ticket as it now is holds
        the new holder's code.
      tags: [Tickets]
      security:
        - bearerAuth: [attendee]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TicketTransferRequest' }
      responses:
        '200':
          description: Sent.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: The ticket cannot be sent on, with the reason to show its holder; or the name or address is missing.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }

  /api/events/{event}/scan:
    post:
      operationId: scanTicket
      summary: Check a ticket in
      description: |
        Requires a `door:{event_id}` token, which grants this and nothing else.
        A door token is refused by every other endpoint even when the user
        behind it holds a wider role — otherwise lending a phone to staff for
        one night lends out the whole account.

        Every attempt is recorded, including refusals. Check-in is decided and
        written in one transaction, so two scanners cannot both be told the same
        ticket is valid. A `choose_party` answer is a question rather than an
        attempt, and is not recorded: the scan that answers it is.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: The value read from the QR.
                party:
                  type: integer
                  minimum: 1
                  maximum: 50
                  description: |
                    How many of the ticket's party go in now. Absent admits the
                    one place left; with more than one left it admits nobody and
                    the result is `choose_party`, for the door to ask how many
                    are here and scan again with the number.
                client_id:
                  type: string
                  format: uuid
                  description: |
                    The scan's own id, minted on the device. A request that
                    times out after the server admitted the guest is retried
                    through the sync endpoint with the same id, and is
                    recognised as the same scan rather than refused as a
                    second person on the ticket. The scan answering
                    `choose_party` is sent under the id of the scan that
                    asked, for the same reason.
      responses:
        '200':
          description: A decision. Refusals are 200 with a result, not errors.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScanResult' }
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/events/{event}/door-list:
    get:
      operationId: doorList
      summary: The event's tickets, for checking in with no signal
      description: |
        Downloaded while the door has a connection, so it can keep deciding
        when it loses one. Carries a PBKDF2-SHA256 hash of each code, never
        the code: enough for a device to recognise a code it is shown, never
        enough to produce one. A device hashes a scanned code (trimmed,
        upper-cased) with `salt` and `iterations` and looks the result up.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The list.
          content:
            application/json:
              schema:
                type: object
                required: [event_id, salt, iterations, generated_at, tickets]
                properties:
                  event_id: { type: string, format: uuid }
                  salt: { type: string }
                  iterations: { type: integer }
                  generated_at: { type: string, format: date-time }
                  tickets:
                    type: array
                    items:
                      type: object
                      required: [hash, status, admits, admitted_count]
                      properties:
                        hash: { type: string }
                        status: { type: string, enum: [valid, checked_in, transferred, refunded, void] }
                        admits: { type: integer }
                        admitted_count: { type: integer }
                        holder_name: { type: [string, 'null'] }
                        type: { type: [string, 'null'] }
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/events/{event}/scans/sync:
    post:
      operationId: syncOfflineScans
      summary: Send scans made with no signal
      description: |
        Records what the door already did offline; it does not re-decide
        admission. A scan the door accepted counts people in, as far as the
        ticket allows. A scan the door refused admits nobody, even if the
        ticket was valid. Where the two disagree the scan carries a
        `conflict`. Idempotent on `client_id`: a batch whose response was lost
        can be sent again. A batch that fails validation is refused whole.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scans]
              properties:
                scans:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [client_id, code, offline_result, scanned_at]
                    properties:
                      client_id: { type: string, format: uuid }
                      code: { type: string }
                      party: { type: [integer, 'null'], minimum: 1, maximum: 50 }
                      offline_result: { type: string, enum: [accepted, duplicate, not_found, void, over_capacity] }
                      scanned_at:
                        type: string
                        format: date-time
                        description: When it happened on the device. Ignored if more than five minutes ahead or three days behind.
      responses:
        '200':
          description: Each scan's recorded result, and the disagreements separately.
          content:
            application/json:
              schema:
                type: object
                required: [data, conflicts]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ScanResult' }
                  conflicts:
                    type: array
                    description: The subset where the offline door and the server disagreed.
                    items: { $ref: '#/components/schemas/ScanResult' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/events/{event}/sellable:
    get:
      operationId: doorSellable
      summary: What the door may sell, and what is left of it
      description: |
        The same tiers a buyer sees, with what is genuinely left on each —
        somebody selling the last four tickets needs the number to be true at
        the moment they say it out loud.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - { name: event, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: What is on sale at this door.
          content:
            application/json:
              schema:
                type: object
                required: [currency, methods, ticket_types]
                properties:
                  currency: { type: string }
                  methods:
                    type: array
                    items: { type: string, enum: [cash, card, transfer] }
                  ticket_types:
                    type: array
                    items:
                      type: object
                      required: [id, name, price]
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        price: { $ref: '#/components/schemas/Money' }
                        admits: { type: integer }
                        remaining: { type: [integer, 'null'] }
                        sold_out: { type: boolean }
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/events/{event}/door-sales:
    post:
      operationId: sellAtTheDoor
      summary: Sell to somebody standing in front of you
      description: |
        A walk-up, paid for on the spot. An ordinary order in every respect
        that matters — it takes the same stock, mints the same tickets and
        cannot oversell against an online buyer reaching the last ticket at
        the same moment.

        What it carries that an online order does not: how it was paid, and
        who took it. The money never reaches the platform, so nothing is
        charged on it and the ledger takes it back out of what is owed.

        Neither a name nor an address is required. The person paying cash is
        not going to spell one out, and their ticket is scanned by the phone
        that just sold it — the codes come back in the response for exactly
        that reason. Give an address and the ticket is emailed as usual.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - { name: event, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items, method]
              properties:
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [ticket_type_id, quantity]
                    properties:
                      ticket_type_id: { type: string, format: uuid }
                      quantity: { type: integer, minimum: 1 }
                method: { type: string, enum: [cash, card, transfer] }
                name: { type: [string, 'null'] }
                email: { type: [string, 'null'], format: email }
      responses:
        '201':
          description: Sold, and paid.
          content:
            application/json:
              schema:
                type: object
                required: [reference, total, method, tickets]
                properties:
                  reference: { type: string }
                  total: { $ref: '#/components/schemas/Money' }
                  method: { type: string }
                  emailed:
                    type: boolean
                    description: Whether an address was given and the ticket sent to it.
                  tickets:
                    type: array
                    items:
                      type: object
                      required: [id, code]
                      properties:
                        id: { type: string, format: uuid }
                        code: { type: string }
                        type: { type: [string, 'null'] }
                        admits: { type: integer }
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Sold out, or a method nobody pays with.

  /api/events/{event}/takings:
    get:
      operationId: doorTakings
      summary: The till, for whoever is counting it
      description: |
        Per method, because that is what is being counted — a tin of cash, a
        terminal's own total, a bank app's list of transfers — and each has to
        agree with its own thing. Per till after that: a night with two doors
        has two tins, and a manager reconciles them one at a time.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - { name: event, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: What was taken at the door.
          content:
            application/json:
              schema:
                type: object
                required: [currency, tickets, total, by_method, by_till]
                properties:
                  currency: { type: string }
                  tickets: { type: integer }
                  total: { $ref: '#/components/schemas/Money' }
                  by_method:
                    type: array
                    items:
                      type: object
                      required: [method, orders, total]
                      properties:
                        method: { type: string }
                        orders: { type: integer }
                        total: { $ref: '#/components/schemas/Money' }
                  by_till:
                    type: array
                    items:
                      type: object
                      required: [label, orders, total]
                      properties:
                        label: { type: string }
                        orders: { type: integer }
                        total: { $ref: '#/components/schemas/Money' }
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/door-passes/{secret}:
    get:
      operationId: previewDoorPass
      summary: What a door link opens, before opening it
      description: |
        No token. Opening is a separate call so that a chat app fetching the
        link for a preview cannot use up its one claim.
      security: []
      parameters:
        - { name: secret, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The pass and its event.
          content:
            application/json:
              schema:
                type: object
                required: [label, state, expires_at, event]
                properties:
                  label: { type: string }
                  state: { type: string, enum: [waiting, active, expired, revoked, ended] }
                  expires_at: { type: string, format: date-time }
                  event: { type: object }
        '404': { description: 'Not a door link.' }

  /api/door-passes/{secret}/claim:
    post:
      operationId: claimDoorPass
      summary: Open a door link on this device
      description: |
        Works once. Returns a token whose only ability is `door:{event_id}`,
        expiring with the pass; use it for the scan, door-list and sync
        endpoints of that event. Every other endpoint refuses it. Signing out
        with it deletes it.
      security: []
      parameters:
        - { name: secret, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The door token and the event it opens.
          content:
            application/json:
              schema:
                type: object
                required: [token, label, expires_at, event]
                properties:
                  token: { type: string }
                  label: { type: string }
                  expires_at: { type: string, format: date-time }
                  event: { type: object }
        '404': { description: 'Not a door link.' }
        '410': { description: 'Already opened on another device, taken back, or expired.' }
        '429': { description: 'Too many attempts.' }

  /api/auth/register:
    post:
      operationId: signUp
      summary: Ask for an account
      description: |
        From the console or the phone. The answer is the same for every
        address — 202, check your email — because a session for a new address
        and none for a known one would tell anybody watching which addresses
        are taken. The emailed link makes the account.

        The one exception is joining by invitation: that link was sent to the
        address and opened from it, so the account is made there and then and
        answered 201 with a session, in the same shape signing in gives.

        `accept_terms` is refused with a 422 when it is not true, for every
        address alike and before anything is looked up.
      tags: [Account]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignUpRequest' }
      responses:
        '201':
          description: Joined by invitation, and signed in.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
        '202':
          description: Every other sign-up, known address or not.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignUpPending' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          description: Too many sign-ups from this network address in the last hour. Said against `email`, like a validation error.

  /api/auth/email/verification:
    post:
      operationId: sendEmailVerification
      summary: Send a fresh link to prove the account's address
      description: |
        Only ever to the address the signed-in account already has, so saying
        where it went tells nobody anything. Until the address is proved,
        putting an event on sale, asking to be paid and changing where payouts
        go are refused with a 403 whose code is `email_unverified`.

        The link opens `/verify-email/{user}/{hash}`, a page on this host.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      responses:
        '200':
          description: The address is already proved. Nothing was sent.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmailVerificationAnswer' }
        '202':
          description: A link is on its way.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmailVerificationAnswer' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: A link went a moment ago. The message says when to ask again.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
                  verified: { type: boolean, const: false }

  /verify-email/{user}/{hash}:
    parameters:
      - name: user
        in: path
        required: true
        description: The account's id.
        schema: { type: string, format: uuid }
      - name: hash
        in: path
        required: true
        description: Ties the link to the address it was sent to. A link to an address the account has since moved from is dead.
        schema: { type: string }
      - name: expires
        in: query
        required: true
        schema: { type: integer }
      - name: signature
        in: query
        required: true
        schema: { type: string }
    get:
      operationId: showEmailVerificationPage
      summary: The page the emailed link opens
      description: |
        A page, not an API: plain HTML on this host, because it is usually
        opened in a mail client's own browser with nobody signed in. Listed so
        the link an email carries is part of the contract; no client calls it.

        Only shows what will happen, because mail scanners follow links.
      tags: [Account]
      security: []
      responses:
        '200':
          description: Asks for the account's password, or says the address is already proved.
          content:
            text/html:
              schema: { type: string }
        '410':
          description: The link has expired, was tampered with, or is for an address the account no longer has.
          content:
            text/html:
              schema: { type: string }
    post:
      operationId: confirmEmailVerificationPage
      summary: Prove the address, with the account's password
      description: |
        The form on the page above, posted back to the same signed address.
        The password is asked for because an account can have been made with
        somebody else's address, and that inbox's owner clicking a button must
        not be what lets it publish events or point payouts somewhere.
        Five wrong passwords in an hour and it stops listening.
      tags: [Account]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
      responses:
        '200':
          description: The address is proved.
          content:
            text/html:
              schema: { type: string }
        '410':
          description: The link has expired, was tampered with, or is for an address the account no longer has.
          content:
            text/html:
              schema: { type: string }
        '422':
          description: Not the account's password. The page asks again.
          content:
            text/html:
              schema: { type: string }
        '429':
          description: Too many wrong passwords. Try again in an hour.
          content:
            text/html:
              schema: { type: string }

  /api/auth/terms:
    get:
      operationId: getTermsStanding
      summary: Whether the signed-in account agreed to the terms in force now
      description: |
        The terms, the privacy policy and the refund policy, as one version.
        Signing up and checking out ask; this is for the accounts that never
        were — made before sign-up asked, or brought over from the previous
        platform — and for new words. Refused to a staff session and to a door
        pass: neither is anybody agreeing for themselves.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      responses:
        '200':
          description: Where the account stands.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TermsStanding' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: acceptTerms
      summary: Agree to the terms in force now
      description: |
        The box, ticked. Agreeing again to words already agreed to changes
        nothing: the moment kept is when this account first agreed to them.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accept_terms]
              properties:
                accept_terms:
                  type: boolean
                  const: true
                  description: Refused with a 422 when it is not true.
      responses:
        '200':
          description: Where the account stands now.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TermsStanding' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/auth/erasure:
    get:
      operationId: previewAccountErasure
      summary: What deleting the signed-in account would do
      description: |
        Shown beside the button, before anybody types a password: the
        organizations the person would leave, and any they are the only owner
        of, which stop it. The same erasure as the privacy page's form.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      responses:
        '200':
          description: What would happen.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountErasurePreview' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: eraseAccount
      summary: Delete the signed-in account
      description: |
        Deleting an account from inside the app that made it, which the App
        Store requires. The password is asked for, as it is before the address
        can be moved: a phone left unlocked is signed in, and must not be
        enough to erase the person it belongs to. Five tries an hour, right or
        wrong.

        A proved address is deleted there and then, and every device is
        signed out, this one included. Any other is sent the privacy page's
        link first, and nothing changes until it is opened. Orders and the
        ledger are kept for the years the preview says, with nobody's name on
        them.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password]
              properties:
                current_password: { type: string }
      responses:
        '200':
          description: Deleted, and signed out everywhere.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountErasureResult' }
        '202':
          description: A link went to the address. Nothing changes until it is opened.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountErasureResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Refused, and nothing changed — the only owner of an organization, or somebody with myFiesta staff access.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountErasureResult' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          description: Too many tries at the password in the last hour. Said against `current_password`, like a validation error.

  /api/organizer/saved-views:
    get:
      operationId: listSavedViews
      summary: The views this person keeps of one list
      description: |
        A view is a list's filters, sort and columns kept under a name — by one
        person, for one organization. Applying one asks the list's own
        endpoint, so a view never shows anybody more than the list would.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
        - name: list
          in: query
          required: true
          schema: { $ref: '#/components/schemas/SavedViewList' }
      responses:
        '200':
          description: Their views of that list, by name.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedView' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      operationId: saveView
      summary: Keep a view, or replace the one with the same name
      description: |
        The state is flat data: up to 40 keys (lowercase, digits and
        underscores), each a string of up to 200 characters, a number, a
        boolean, null, or a list of up to 50 of those; 4 KB in all. At most 30
        views per list. Saving a name that exists replaces that view (200).
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [list, name, state]
              properties:
                list: { $ref: '#/components/schemas/SavedViewList' }
                name: { type: string, maxLength: 60 }
                state: { type: object, additionalProperties: true }
      responses:
        '200':
          description: The view of that name, replaced.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
        '201':
          description: A new view, kept.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/organizer/saved-views/{view}:
    delete:
      operationId: deleteSavedView
      summary: Stop keeping a view
      description: Somebody else's view, or another organization's, is not found.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
        - name: view
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Gone.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/organizer/standing:
    get:
      operationId: getOrganizationStanding
      summary: Whether the platform is selling for this organization
      description: |
        For the console's suspension banner. Asked on its own rather than read
        from the sign-in, because a suspension lands while people are signed
        in. Any member may ask. The reason is only there when myFiesta chose to
        share it.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Where the organization stands.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrganizationStanding' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/organizer/events/{event}/submit:
    post:
      operationId: submitEventForReview
      summary: Send a draft to myFiesta to be looked at before it goes on sale
      description: |
        Nothing goes on sale without an approval. This sends the event to the
        review queue, where it waits in `in_review` and cannot be changed:
        every write that would change what a buyer sees or pays for it answers
        423 until it is decided or taken back. The people at the organization
        who can publish are emailed that it arrived, and the staff who review
        it that it is waiting.

        Where an approval still stands for the event as it is — it was on
        sale, was taken off, and nothing a buyer sees has changed since it was
        approved; or it is the next date of an approved series and the same
        night apart from its dates — it goes straight on sale instead, and
        `outcome` says `published`. Only its dates are checked then, since the
        listing is what was approved. Neither applies once staff have sent the
        event back: after a rejection only another approval puts it on sale.

        Needs what publishing needed: permission to publish, a proved address,
        and an event that is ready. Every reason it is not comes back at once
        in `reasons`. Refused while the organization is suspended.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sent for review, back on sale, or already one of those.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not allowed to publish, an unproved address (`code` email_unverified), or the organization is suspended.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewRefusal' }
        '422':
          description: Not ready, cancelled, or taken off sale by myFiesta.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewRefusal' }

  /api/organizer/events/{event}/withdraw:
    post:
      operationId: withdrawEventFromReview
      summary: Take an event back from review, to change something
      description: |
        Back to a draft, which can be changed and sent again. The people at
        the organization who can publish are emailed to confirm. Pressing it
        again changes nothing.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: A draft again.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Not waiting for review.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewRefusal' }

  /api/organizer/events/{event}/publish:
    post:
      operationId: setEventOnSale
      summary: Send for review, or take off sale
      description: |
        Kept for clients that already call it. `published` is the same as
        submitting for review; `draft` takes an event off sale, or takes it
        back from review while it waits. Taking an event off sale never waits
        for a proved address.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published] }
      responses:
        '200':
          description: What happened.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Not ready, cancelled, or taken off sale by myFiesta.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventReviewRefusal' }

  /api/organizer/payouts:
    get:
      operationId: getPayoutStatement
      summary: What the organization is owed, what was sent, and anything owed back
      description: |
        The statement, in the organization's main currency. Settlements are
        read-only: paying out is done by myFiesta staff against a real bank.

        When staff pay a payout request for more than is owed, the difference
        is an advance and the balance goes below zero by exactly that much.
        `overdraft` then says how much was advanced and when, what sales have
        paid back since, what was repaid by transfer, and what is outstanding,
        with a sentence for all of it. The same block describes a balance that
        refunds took below zero after a payout, with `advanced` null. The next
        sales pay it back; nothing more can be asked for until the balance is
        above zero.

        Needs the money permission (owners, managers and finance).
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The statement.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayoutStatement' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/organizer/payouts/requests:
    post:
      operationId: requestPayout
      summary: Ask to be paid what is owed
      description: |
        Up to the balance, to the payout details on file, one waiting request
        per currency. Refused with a sentence while the balance is not above
        zero — below zero it says what is owed back and what pays it back.
        Owners and finance only; an address that is not yet proved is refused
        with `email_unverified`.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: integer
                  minimum: 1
                  description: Minor units, in the statement's currency.
                note: { type: [string, 'null'], maxLength: 500 }
      responses:
        '201':
          description: Asked. Nothing moves until staff pay it.
          content:
            application/json:
              schema:
                type: object
                required: [data, message]
                properties:
                  data: { $ref: '#/components/schemas/PayoutRequestRow' }
                  message: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Refused, with the reason in `message`.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }

  # Each feature added since writes its paths under its own anchor, so two
  # features never edit the same lines of this file.
  # --- track: pay ---
  /api/organizer/events/{event}/pay-later:
    get:
      operationId: getEventPayLater
      summary: Whether buyers can pay for a night later, and what it costs the organizer
      description: |
        The organizer's opt-in to Klarna and Affirm on Stripe's payment page,
        with what each lender charges beside a card's fee, so the console can
        name the difference before the organizer turns it on. Offered to a
        buyer only while myFiesta has it switched on (`available`), for nights
        priced in Canadian dollars, and from `max_days_before_event` days
        before the night (`offered_now`).
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The opt-in as it stands.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayLaterSetting' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: setEventPayLater
      summary: Let buyers pay for a night later, or stop
      description: |
        The organizer pays what the lender charges over a card's fee on every
        order paid this way, taken off their balance as an adjustment once
        Stripe has said what it charged. Needs the permission to edit the
        event. Turning it on is refused when myFiesta has paying later
        switched off or the night is not in Canadian dollars; turning it off
        is always taken.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '200':
          description: The opt-in as it now stands.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayLaterSetting' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  # --- track: transfer ---
  /api/tickets/{token}/transfer/{ticket}:
    post:
      operationId: transferTicketFromLink
      summary: Send a ticket to someone else, from a ticket link
      description: |
        "Send to someone" on the tickets page, on the same credential as the
        tickets themselves: an order's link, where the ticket must be on the
        order and still the buyer's, or the link a ticket was sent with,
        which names that ticket. A wrong token, a closed one and a ticket
        that is not the link's all answer 404, so none can be told apart.

        Through the same handover as the phone (transferTicket): a new code,
        the old one refused at the door; an email to the new holder with the
        ticket and a link that opens it and nothing else of the order; the
        link the last holder was sent stops opening it. Refused for a ticket
        somebody has come in on, one given back for resale, one at the
        address already holding it, and once the event has started.
      tags: [Tickets]
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
        - name: ticket
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TicketTransferRequest' }
      responses:
        '200':
          description: Sent. The page as it now is, without the ticket.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TicketTransferAnswer' }
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: The ticket cannot be sent on, with the reason to show; or the name or address is missing.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }

  # --- track: profile ---
  /api/auth/me:
    get:
      operationId: me
      summary: The signed-in account
      description: |
        Who is signed in, and the organizations they belong to with what they
        may do in each, as the server resolves it. The phone asks again when it
        opens, so a photo or a time zone changed on another device turns up.
        A door pass is refused: Sanctum sees it as the account that issued it.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Account' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/auth/avatar:
    post:
      operationId: uploadAvatar
      summary: Put a photo on the signed-in account
      description: |
        A JPEG, PNG or WebP up to 12 MB. The bytes are read for what they are,
        cropped to 256 pixels square and re-encoded as JPEG, which drops where
        the photo was taken. It replaces the photo the account had, and the
        old file is deleted. Seen only by the person it belongs to.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Kept. The address is new for every photo, so no cache shows the old one.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountPhoto' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429': { description: 'Too many uploads. Twenty a minute.' }
    delete:
      operationId: removeAvatar
      summary: Take the photo off the signed-in account
      description: The file is deleted, and initials take its place.
      tags: [Account]
      security:
        - bearerAuth: [attendee]
        - bearerAuth: [organizer]
      responses:
        '200':
          description: Gone.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountPhoto' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # --- track: public ---
  /api/organizers/{slug}/events:
    get:
      operationId: listOrganizerEvents
      summary: An organizer's nights, twelve at a time
      description: |
        What "Show more past events" asks for. With `when=past`, page 1 is the
        same twelve the organizer page carries in `past`, and page 2 on are
        the older ones, newest first. With `when=upcoming`, the nights still
        to come, soonest first, twelve at a time (the organizer page carries
        all of those in `upcoming`, unpaged). Nights on the same evening keep
        their order, so no page repeats or skips one. Only the nights a
        stranger may see: an invitation event is never listed.

        A slug with no published ticketed event answers 404, as the page does.
      tags: [Discovery]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: when
          in: query
          required: true
          schema: { type: string, enum: [past, upcoming] }
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000, default: 1 }
      responses:
        '200':
          description: One page of their nights.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrganizerEvents' }
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          description: Asked more than 60 times in a minute from one address.

  /api/help/videos:
    get:
      operationId: listHelpVideos
      summary: The how-to videos on help/videos
      description: |
        Published videos only, in the order staff set. Each is named by its
        YouTube id alone; the page builds the thumbnail and the player's
        address itself, the player on youtube-nocookie.com and only once a
        reader presses play. An empty list when there are none. Cached for
        five minutes.
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: The videos, buyers' and organizers' together.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/HelpVideo' }
        '429':
          description: Asked more than 60 times in a minute from one address.

  # --- track: sched ---
  /api/organizer/events/{event}/series:
    patch:
      operationId: updateSeries
      summary: Change how a repeating night ends, and whether its dates go on sale by themselves
      description: |
        Only what is sent changes. `count` or `until` moves the end either
        way: dates still to come past a new, earlier end that nobody holds a
        ticket for (valid, used or listed for resale) are removed, the rest
        are kept, and dates newly inside a longer run are made at once.
        `frequency` can only be sent as it already is; a different one is
        refused with "Stop this series and start a new one."

        `auto_publish` and `on_sale_days_before` need the permission to put
        events on sale and a confirmed email address. Each date then goes on
        sale by itself `on_sale_days_before` days before its night (as soon
        as it is made when null), sent by events:go-live as the member who
        turned it on, asked again at that time: straight on sale as the
        approved night on a new date, through review otherwise. The days are
        counted on the venue's calendar. Only draft dates never on sale and
        not sent back by staff are given a time. Turned off, the times the
        series gave its draft dates are taken back.

        A staff session acting as the organization is refused (403) a change
        to the end, turning `auto_publish` on and `on_sale_days_before`;
        turning `auto_publish` off stays open.

        The time a single night goes on sale is `publish_at` on
        PATCH /api/organizer/events/{event}.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          description: Any date of the series.
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                frequency:
                  type: string
                  enum: [weekly, fortnightly, monthly]
                  description: Accepted only as it already is.
                count:
                  type: [integer, 'null']
                  minimum: 2
                  maximum: 104
                  description: Every date in all, the first included. Not with `until`.
                until:
                  type: [string, 'null']
                  format: date
                  description: The last day, in the venue's zone; that day's night is kept.
                auto_publish: { type: boolean }
                on_sale_days_before:
                  type: [integer, 'null']
                  minimum: 1
                  maximum: 365
      responses:
        '200':
          description: The series as it now stands, and what changing it did.
          content:
            application/json:
              schema:
                type: object
                required: [series, removed, kept, created, message]
                properties:
                  series: { $ref: '#/components/schemas/OrganizerSeries' }
                  removed: { type: integer, description: 'Dates past the new end that nobody had bought into, now gone.' }
                  kept: { type: integer, description: 'Dates past the new end kept because somebody holds a ticket for them.' }
                  created: { type: integer, description: 'Dates newly inside a longer run, made now.' }
                  message: { type: string, description: 'What changed, written for the organizer.' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: The night is waiting for review, and cannot change until it is decided.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
                  code: { type: string }

  # --- track: clone ---
  /api/organizer/events/{event}/duplicate:
    post:
      operationId: duplicateEvent
      summary: Copy an event into a new draft, with changes
      description: |
        The copy is always a draft, so it goes through review. It carries the
        details, tiers and prices, price ladders, extras, questions, reminder
        times and the poster; never sales, codes or the gallery. Everything in
        the body is optional: what is not given is copied as it is. A tier not
        listed comes across unchanged; on a listed tier, a field not given is
        left as it is, and a quantity of null is unlimited. Sales windows move
        with the start. Refused (422) for an event myFiesta has taken off sale.
        Needs permission to create events in the event's organization.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CopyAdjustments' }
      responses:
        '201':
          description: The new draft.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventCopy' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/organizer/templates:
    get:
      operationId: listEventTemplates
      summary: The organization's event templates
      description: |
        Events kept as a starting point, by name. Needs permission to create
        events in the organization.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The templates, by name.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EventTemplate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: saveEventTemplate
      summary: Keep an event as a template
      description: |
        The template is the event as it is now, kept apart from it: changing
        the event later does not change the template. The poster is copied
        into files of the template's own. Names are unique in an organization,
        whatever their capitals; at most 50 templates each. Refused (422) for
        an event myFiesta has taken off sale.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from_event_id, name]
              properties:
                from_event_id: { type: string, format: uuid }
                name: { type: string, minLength: 2, maxLength: 80 }
      responses:
        '201':
          description: The template, kept.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/EventTemplate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/organizer/templates/{template}:
    delete:
      operationId: deleteEventTemplate
      summary: Delete a template
      description: |
        The template and its poster's files go. Events made from it keep
        theirs. Another organization's template is not found.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: template
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Gone.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/organizer/templates/{template}/events:
    post:
      operationId: createEventFromTemplate
      summary: Make a new draft event from a template
      description: |
        A start is required; the rest of the body changes the new event on the
        way, as when copying an event. The new event is a draft that goes
        through review: a template is never approved itself. A venue the
        organization has since removed is left off. Refused (422) while the
        event the template was kept from is taken off sale by myFiesta.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: template
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CopyAdjustments'
                - type: object
                  required: [starts_at]
      responses:
        '201':
          description: The new draft.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventCopy' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  # --- track: share ---
  /api/events/{slug}/share-link:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: getShareLink
      summary: My friend-discount link to a night
      description: |
        For somebody signed in who holds a ticket to the night that will
        still get them in. A buyer is given theirs when they pay; this is for
        anybody else holding one. Asking twice gets the same link.
      tags: [Tickets]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: The link.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/ShareLink' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: This account holds no live ticket to the night.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: The night has no friend discount, or its online sales are over.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }

  /api/events/{slug}/friend-discount:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: checkFriendDiscount
      summary: Whether a ref is a friend's link that takes money off a night
      description: |
        For the event page to greet somebody who arrived by a friend's link.
        The page is the same for everybody, and a ref's shape alone cannot
        say: a promoter's slug can look like one, and a link stops working
        once its holder no longer has a ticket that gets them in. One 404
        for every kind of no.
      tags: [Discovery]
      security: []
      parameters:
        - name: ref
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The discount the link takes off.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/ShareOffer' }
        '404':
          description: No such night, no offer, or not a working friend's link to it.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }

  /api/organizer/events/{event}/share-offer:
    put:
      operationId: setShareOffer
      summary: Start, change or end a night's friend discount
      description: |
        A friend who buys through a buyer's link saves `discount_bps`, and the
        buyer is sent a single-use code worth the same off their next tickets
        from the organizer, for up to `max_rewards` friends. The organizer
        pays for both discounts out of the night's proceeds. Null
        `discount_bps` ends the offer; links and rewards already out keep
        what they were given. Needs the codes permission, and is refused
        while the night waits for review.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [discount_bps, max_rewards]
              properties:
                discount_bps:
                  type: [integer, 'null']
                  description: Basis points (1500 is 15%), from 100 to the platform's cap. Null ends the offer.
                max_rewards:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: The offer as it now stands; `discount_bps` is null once it has ended.
          content:
            application/json:
              schema:
                type: object
                required: [share_offer]
                properties:
                  share_offer: { $ref: '#/components/schemas/OrganizerShareOffer' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: The night is waiting for review, and its discounts cannot change until it is decided.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
                  code: { type: string }

  # --- track: survey ---
  /api/surveys/{token}:
    parameters:
      - name: token
        in: path
        required: true
        description: The link's whole credential, from the survey email.
        schema: { type: string, maxLength: 64 }
    get:
      operationId: getSurvey
      summary: The survey somebody was emailed after a night
      description: |
        No sign-in: the token is the whole credential, as on a ticket link.
        Answers with the night and the questions it was sent with, and
        whether this link has been answered — never with whose link it is.
        Sixty a minute.
      tags: [Tickets]
      responses:
        '200':
          description: The survey.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicSurvey' }
        '404':
          $ref: '#/components/responses/NotFound'
        '429': { description: 'Too many requests.' }
    post:
      operationId: answerSurvey
      summary: Answer the survey, once
      description: |
        Each answer is checked against the questions the night was sent with:
        `nps` takes a whole number from 0 to 10, `rating5` from 1 to 5,
        `single` one of the options, `multi` a list of them, and `text` up to
        2,000 characters. An empty answer to an optional question is no
        answer. One answer per link, never edited. Ten a minute.
      tags: [Tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers:
                  type: object
                  description: Keyed by question id.
                  additionalProperties:
                    oneOf:
                      - type: integer
                      - type: string
                      - type: array
                        items: { type: string }
                      - type: 'null'
      responses:
        '201':
          description: Kept.
          content:
            application/json:
              schema:
                type: object
                required: [message, survey]
                properties:
                  message: { type: string }
                  survey: { $ref: '#/components/schemas/PublicSurvey' }
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: This link has already been answered.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429': { description: 'Too many requests.' }

  /api/organizer/surveys:
    get:
      operationId: getSurveyOverview
      summary: Whether surveys go, and how the organization's recent nights answered
      description: |
        For the console's Surveys screen. Needs `messages.send`: a survey is an
        email to the people who came. The recommend score of a night is null
        until five people have answered it.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          description: Which of the member's organizations. Their first when left out.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The organization's switch and its last twenty surveyed nights.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SurveyOverview' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/organizer/surveys/settings:
    put:
      operationId: setSurveysEnabled
      summary: Surveys on or off for every night of the organization
      description: On by default. Off stops every night's survey until it is switched back on.
      tags: [Organizer]
      security:
        - bearerAuth: [organizer]
      parameters:
        - name: X-Organization
          in: header
          required: false
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [surveys_enabled]
              properties:
                surveys_enabled: { type: boolean }
      responses:
        '200':
          description: Switched.
          content:
            application/json:
              schema:
                type: object
                required: [surveys_enabled, nights_due_now, message]
                properties:
                  surveys_enabled: { type: boolean }
                  nights_due_now:
[...]
