openapi: 3.1.0

info:
  title: myFiesta API
  version: 0.1.0
  description: |
    The contract both client languages generate from.

    Flutter cannot consume a TypeScript package, so there is no shared library
    between mobile and web. This file is what stops the Dart and TypeScript
    clients drifting apart — it does the job an Nx workspace would otherwise do,
    and it is why hand-maintained URL strings are gone.

    Two conventions run through everything below.

    **Money is a pair.** An integer amount in minor units and a currency. Never
    a float, never a bare number, never a preformatted string. The platform this
    replaces returned "$1,234.00" from the API and re-parsed it in the client.

    **Errors are RFC 7807 problem documents** with real status codes. The old
    API answered HTTP 200 for everything and buried the outcome in the body,
    which made interceptors and retries impossible.

servers:
  - url: https://api.myfiesta.ca
    description: Production
  - url: http://localhost:8000
    description: Local

tags:
  - name: Discovery
    description: Public. No authentication — browsing and buying need no account.
  - name: Checkout
    description: Guest checkout is the primary path.
  - name: Tickets
    description: Retrieval and transfer, by the holder.
  - name: Door
    description: Check-in. Reachable only by an event-scoped door token.

security: []

paths:
  /api/health:
    get:
      operationId: health
      summary: Liveness probe
      tags: [Discovery]
      security: []
      responses:
        '200':
          description: The service is up.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: ok

  /api/events:
    get:
      operationId: listEvents
      summary: Browse published events
      tags: [Discovery]
      security: []
      parameters:
        - name: q
          in: query
          description: Full-text search. Backed by Postgres, not a separate search service.
          schema: { type: string }
        - name: city
          in: query
          schema: { type: string }
        - name: country
          in: query
          schema: { type: string, minLength: 2, maxLength: 2 }
        - name: starts_after
          in: query
          schema: { type: string, format: date-time }
        - name: cursor
          in: query
          description: Opaque cursor from a previous page.
          schema: { type: string }
        - name: per_page
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: A page of published events.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EventSummary' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }

  /api/events/{slug}:
    get:
      operationId: getEvent
      summary: An event by its slug
      description: |
        Slugs are routed at the root on the public site and are the shareable
        link. Values from the previous platform are imported verbatim, because
        those URLs are in shared messages, bios, and printed QR codes.
      tags: [Discovery]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: ref
          in: query
          description: |
            Promoter attribution, captured on landing and carried to the order.
            Always optional; a bare link works.
          schema: { type: string }
      responses:
        '200':
          description: The event, with its ticket types.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Event' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/events/{slug}/quote:
    post:
      operationId: quoteOrder
      summary: Price a basket
      description: |
        The client sends quantities. It never sends prices — those are read from
        the database by ticket type id. This is the rule that closes the defect
        which let buyers of the previous platform choose what to pay.

        Returns the full breakdown so the buyer sees discount and tax before
        committing, in the fixed order: discount applies to the subtotal, tax
        calculates on the discounted amount, commission takes the net.
      tags: [Checkout]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequest' }
      responses:
        '200':
          description: A priced quote.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Quote' }
        '409':
          description: Not enough stock remains, or the code is exhausted.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/events/{slug}/orders:
    post:
      operationId: createOrder
      summary: Place an order and begin payment
      description: |
        Holds stock in a transaction, then creates a payment session on the rail
        the event currency routes to — NGN to Paystack, everything else to
        Stripe.

        A zero-total order has no gateway at all. Full-value codes, comps,
        RSVPs, and free events go straight to fulfilment, and `payment` is null
        in the response.

        Fulfilment is driven by the signed webhook, never by the client
        returning. Closing the browser after paying still issues the tickets.
      tags: [Checkout]
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          description: Replaying the same key returns the original order.
          schema: { type: string, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateOrderRequest' }
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCreated' }
        '409':
          description: Stock ran out while the order was being placed.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/orders/{reference}:
    get:
      operationId: getOrder
      summary: An order by its reference
      description: |
        Readable by the buyer while signed in, or through a signed link sent to
        the address that placed it. Guest checkout means many buyers never
        register, but an address alone is not proof — asserting one is the flaw
        in the scheme this replaces.
      tags: [Checkout]
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/tickets/{token}:
    get:
      operationId: getTicketsByToken
      summary: A buyer's tickets, with the QR a door reads
      description: |
        Reached from the link in a confirmation email. Unauthenticated by
        necessity: guest checkout is the primary path, so most people holding a
        ticket have no account, and the random per-order token in the path is
        the whole credential.

        It does not expire. The previous platform's ticket links went stale
        before some of its events had happened, and a ticket you cannot open on
        the night is not a ticket.

        Refunded tickets are omitted rather than shown as void — a QR that will
        be turned away is worse than no QR, because its holder finds out at the
        front of the queue.
      tags: [Tickets]
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order and its live tickets.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TicketAccess' }
        '404':
          $ref: '#/components/responses/NotFound'

  /api/me/tickets:
    get:
      operationId: listMyTickets
      summary: Tickets held by the signed-in account
      tags: [Tickets]
      security:
        - bearerAuth: [attendee]
      responses:
        '200':
          description: Tickets belonging to the caller.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Ticket' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/tickets/{id}/transfer:
    post:
      operationId: transferTicket
      summary: Hand a ticket to someone else
      description: |
        Authenticated, and only by the holder. The endpoint this replaces took a
        ticket id and an email from anyone at all, with ids being sequential
        integers.
      tags: [Tickets]
      security:
        - bearerAuth: [attendee]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_email, to_name]
              properties:
                to_email: { type: string, format: email }
                to_name: { type: string }
      responses:
        '200':
          description: Transferred.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Already checked in, or no longer valid.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /api/events/{event}/scan:
    post:
      operationId: scanTicket
      summary: Check a ticket in
      description: |
        Requires a `door:{event_id}` token, which grants this and nothing else.
        A door token is refused by every other endpoint even when the user
        behind it holds a wider role — otherwise lending a phone to staff for
        one night lends out the whole account.

        Every attempt is recorded, including refusals. Check-in is decided and
        written in one transaction, so two scanners cannot both be told the same
        ticket is valid.
      tags: [Door]
      security:
        - bearerAuth: [door]
      parameters:
        - name: event
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: The value read from the QR.
                scanned_at:
                  type: string
                  format: date-time
                  description: |
                    When the scan happened on the device. Supplied by offline
                    scanning, which queues locally and syncs on reconnect.
      responses:
        '200':
          description: A decision. Refusals are 200 with a result, not errors.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScanResult' }
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        A Sanctum token. Abilities are `attendee`, `organizer`, or
        `door:{event_id}`.

        The mobile app carries all three modes in one binary, so a door-staff
        phone has the organizer interface compiled into it. Hiding it is a
        convenience; the ability check is the boundary.

  responses:
    Unauthorized:
      description: No token, or the token has expired.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: The token is valid but lacks the ability or the ownership.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: No such resource.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationFailed:
      description: The request was well-formed but not acceptable.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      description: RFC 7807. Carried by every error, with a real status code.
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        errors:
          type: object
          description: Field-level messages, keyed by input name.
          additionalProperties:
            type: array
            items: { type: string }

    Money:
      type: object
      description: |
        An integer amount in minor units, with its currency. 1250 CAD is
        $12.50; 250000 NGN is 2,500.00 naira.

        Amounts in different currencies are never summed. An organization
        running events in Toronto and Lagos has two balances, not one.
      required: [amount, currency]
      properties:
        amount:
          type: integer
          format: int64
          description: Minor units. Cents, kobo.
        currency:
          type: string
          description: >
            Constrained to what the platform actually takes. An open string
            generates a client able to represent prices no gateway can charge.
          enum: [CAD, NGN]

    CursorMeta:
      type: object
      required: [has_more]
      properties:
        has_more: { type: boolean }
        next_cursor: { type: [string, 'null'] }

    EventSummary:
      type: object
      # No id. The slug is the public identifier — it is what a shareable link
      # carries and what the site routes on. Exposing the UUID as well would
      # give clients two ways to name the same event and no reason to prefer
      # either.
      required: [slug, title, starts_at, timezone, city, country]
      properties:
        slug: { type: string }
        title: { type: string }
        poster_url: { type: [string, 'null'], format: uri }
        starts_at: { type: string, format: date-time }
        timezone:
          type: string
          description: |
            IANA, per event. The previous system hardcoded one zone for
            everything, which was already wrong for a Toronto business and is
            unworkable once Lagos events exist.
        city: { type: string }
        country: { type: string, minLength: 2, maxLength: 2 }
        currency: { type: string, minLength: 3, maxLength: 3 }
        from_price:
          oneOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
        is_sold_out: { type: boolean }
        category: { type: [string, 'null'] }
        organizer: { $ref: '#/components/schemas/OrganizerRef' }

    Event:
      allOf:
        - $ref: '#/components/schemas/EventSummary'
        - type: object
          required: [organizer, ticket_types]
          properties:
            description:
              type: [string, 'null']
              description: |
                Formatted HTML, already sanitized to an allowlist: paragraphs,
                breaks, bold, italic, underline, strikethrough, lists, h2, h3,
                blockquote, and links (http, https, mailto) forced to open in a
                new tab. Safe to render as markup. Null when there is none.
            description_text:
              type: [string, 'null']
              description: |
                The same description as plain words, for anywhere markup cannot
                be rendered: meta descriptions, link previews, structured data,
                push notifications. Never contains tags or entities.
            ends_at: { type: [string, 'null'], format: date-time }
            venue:
              oneOf:
                - $ref: '#/components/schemas/Venue'
                - type: 'null'
            dress_code: { type: [string, 'null'] }
            subdivision: { type: [string, 'null'] }
            min_age: { type: [integer, 'null'] }
            id_required: { type: boolean }
            og_image_url:
              type: [string, 'null']
              format: uri
              description: |
                The banner cropped to exactly 1200x630, which is what Facebook,
                LinkedIn and Slack read when a link is shared. Distinct from
                poster_url, which is a different shape and would be cropped by
                whichever of them is doing the cropping.
            gallery:
              type: array
              description: |
                Photographs from the night, added after it. Empty before.
              items: { $ref: '#/components/schemas/GalleryImage' }
            organizer: { $ref: '#/components/schemas/OrganizerBrand' }
            ticket_types:
              type: array
              items: { $ref: '#/components/schemas/TicketType' }

    HeldTicket:
      type: object
      required: [id, code, status, admits, admitted, qr]
      properties:
        id: { type: string, format: uuid }
        code:
          type: string
          description: |
            What the door scans, and what gets read aloud when a camera will
            not focus. The alphabet excludes characters that are misheard.
        type: { type: [string, 'null'] }
        holder: { type: [string, 'null'] }
        status: { type: string }
        admits:
          type: integer
          description: How many people this one lets in — a Couple admits 2.
        admitted:
          type: integer
          description: |
            How many of them are already inside. A table arriving in two groups
            needs this, or the second half thinks the ticket is spent.
        qr:
          type: string
          description: |
            SVG markup, drawn by the server from the code. The white ground is
            part of the symbol: a QR rendered transparently over a dark theme
            inverts and will not scan.

    TicketAccess:
      type: object
      required: [reference, status, event, tickets]
      properties:
        reference: { type: string }
        status: { type: string }
        buyer_name: { type: [string, 'null'] }
        event:
          type: object
          required: [slug, title, starts_at, timezone, organizer]
          properties:
            slug: { type: string }
            title: { type: string }
            starts_at: { type: string, format: date-time }
            timezone: { type: string }
            venue: { type: [string, 'null'] }
            address: { type: [string, 'null'] }
            city: { type: string }
            min_age: { type: [integer, 'null'] }
            id_required: { type: boolean }
            organizer: { type: string }
        tickets:
          type: array
          items: { $ref: '#/components/schemas/HeldTicket' }

    GalleryImage:
      type: object
      required: [url, thumb_url]
      properties:
        url: { type: string, format: uri }
        thumb_url: { type: string, format: uri }
        # Doubles as alt text. A caption an organizer actually writes is worth
        # more to a screen reader than an alt field they leave empty.
        caption: { type: [string, 'null'] }
        width: { type: [integer, 'null'] }
        height: { type: [integer, 'null'] }

    OrganizerRef:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug: { type: string }

    OrganizerBrand:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        logo_url: { type: [string, 'null'], format: uri }
        is_verified: { type: boolean }

    Venue:
      type: object
      required: [name]
      properties:
        name: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        city: { type: [string, 'null'] }

    TicketType:
      type: object
      required: [id, name, price, status]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, 'null'] }
        price: { $ref: '#/components/schemas/Money' }
        admits: { type: integer, minimum: 1 }
        max_per_order: { type: [integer, 'null'] }
        remaining:
          type: [integer, 'null']
          description: Null when unlimited.
        status:
          type: string
          enum: [on_sale, sold_out, hidden, closed]

    QuoteRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [ticket_type_id, quantity]
            properties:
              ticket_type_id: { type: string, format: uuid }
              quantity: { type: integer, minimum: 1 }
        code:
          type: [string, 'null']
          description: A discount code, typed by the buyer.
        ref:
          type: [string, 'null']
          description: Promoter attribution captured from the link.

    Quote:
      type: object
      required: [subtotal, discount, tax, total, lines]
      properties:
        subtotal: { $ref: '#/components/schemas/Money' }
        discount: { $ref: '#/components/schemas/Money' }
        tax: { $ref: '#/components/schemas/Money' }
        total: { $ref: '#/components/schemas/Money' }
        tax_label:
          type: [string, 'null']
          description: What the buyer is shown — HST, GST, VAT.
        tax_inclusive:
          type: boolean
          description: Whether tax was already inside the displayed price.
        code_applied: { type: [string, 'null'] }
        lines:
          type: array
          items:
            type: object
            required: [ticket_type_id, name, unit_price, quantity, line_total]
            properties:
              ticket_type_id: { type: string, format: uuid }
              name: { type: string }
              unit_price: { $ref: '#/components/schemas/Money' }
              quantity: { type: integer }
              line_total: { $ref: '#/components/schemas/Money' }

    CreateOrderRequest:
      allOf:
        - $ref: '#/components/schemas/QuoteRequest'
        - type: object
          required: [buyer_email, buyer_name]
          properties:
            buyer_email: { type: string, format: email }
            buyer_name: { type: string }
            buyer_phone: { type: [string, 'null'] }
            return_url:
              type: string
              format: uri
              description: |
                Where the gateway sends the buyer afterwards. Cosmetic — the
                signed webhook is what issues tickets.

    OrderCreated:
      type: object
      required: [order, payment]
      properties:
        order: { $ref: '#/components/schemas/Order' }
        payment:
          description: Null for a zero-total order, which needs no gateway.
          oneOf:
            - $ref: '#/components/schemas/PaymentHandoff'
            - type: 'null'

    PaymentHandoff:
      type: object
      required: [gateway, checkout_url]
      properties:
        gateway:
          type: string
          enum: [stripe, paystack]
          description: Routed by event currency. NGN goes to Paystack.
        checkout_url: { type: string, format: uri }
        expires_at: { type: string, format: date-time }

    Order:
      type: object
      required: [id, reference, status, currency, subtotal, discount, tax, total]
      properties:
        id: { type: string, format: uuid }
        reference: { type: string }
        status:
          type: string
          enum: [pending, paid, failed, cancelled, refunded, partially_refunded]
        currency: { type: string, minLength: 3, maxLength: 3 }
        subtotal: { $ref: '#/components/schemas/Money' }
        discount: { $ref: '#/components/schemas/Money' }
        tax: { $ref: '#/components/schemas/Money' }
        total: { $ref: '#/components/schemas/Money' }
        buyer_email: { type: string, format: email }
        buyer_name: { type: string }
        paid_at: { type: [string, 'null'], format: date-time }
        event: { $ref: '#/components/schemas/EventSummary' }
        tickets:
          type: array
          items: { $ref: '#/components/schemas/Ticket' }

    Ticket:
      type: object
      required: [id, code, status, event]
      properties:
        id: { type: string, format: uuid }
        code:
          type: string
          description: |
            What the QR encodes. Cryptographically random and unique. Codes
            imported from the previous platform keep their original format, so
            tickets already sitting in inboxes still scan.
        status:
          type: string
          enum: [valid, checked_in, transferred, refunded, void]
        holder_name: { type: [string, 'null'] }
        ticket_type_name: { type: string }
        checked_in_at: { type: [string, 'null'], format: date-time }
        pdf_url: { type: [string, 'null'], format: uri }
        apple_wallet_url: { type: [string, 'null'], format: uri }
        google_wallet_url: { type: [string, 'null'], format: uri }
        event: { $ref: '#/components/schemas/EventSummary' }

    ScanResult:
      type: object
      required: [result]
      properties:
        result:
          type: string
          enum: [accepted, duplicate, not_found, wrong_event, void]
          description: |
            A refusal is a normal outcome, not an error, so the scanner can show
            it without treating it as a failure.
        ticket:
          oneOf:
            - $ref: '#/components/schemas/Ticket'
            - type: 'null'
        already_scanned_at:
          type: [string, 'null']
          format: date-time
          description: Set on a duplicate, so the door can see when it first went through.
